<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Videoteca</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>

    <h2>Invia un messaggio</h2>

    <form th:action="@{/message}" method="post">
        <label for="user_id">User Id:</label>
        <input type="text" id="user_id" name="user_id" required>

        <label for="text">Message text:</label>
        <textarea id="text" name="text" rows="4" cols="50" required></textarea>


        <button type="submit">Ivia</button>
    </form>

</body>

</html>